<div align="center">
  <h3>Dashboard Spike</h3>
  <br/>
  <br/>
  <div *ngIf="chart" style="float: left; height: 50%; width: 50%"><canvas id="chart1">{{createBarChart}}</canvas></div>
  <div *ngIf="chart1" style="float: right; height: 50%;width: 50%"><canvas id="chart2">{{createLineChart}}</canvas></div>
</div>
